.header-shop {
  &__top {
    border-bottom: 1px solid #ECECEC;
    padding: 30px 0;
  }
  &__block {
    display: flex;
    align-items: center;
    padding: 0;
    max-width: fit-content;
    svg {
      border: 1px solid #EBEBEB;
      height: 45px;
      width: 45px;
      padding: 15px;
      border-radius: 50px;
      margin-right: 19px;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__number {
    font-size: 18px;
    color: black;
  }
  &__modal {
    font-size: 14px;
    font-weight: bold;
  }
  &__logo {
    max-width: 190px;
    padding: 0;
  }
  &__bottom {
    border-bottom: 1px solid #ECECEC;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
    li {
      padding: 19px 0;
    }
  }
}