.header-shop {
  &__top {
    border-bottom: 1px solid #ECECEC;
  }
  &__logo {
    max-width: 220px;
    padding: 0;
  }
  &__bottom {
    border-bottom: 1px solid #ECECEC;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
    li {
      padding: 19px 0;
    }
  }
}