.DS_Store
Thumbs.db
/.idea/
/bitrix/
!/bitrix/php_interface/*
/local/templates/individual/public/css/theme/
/local/templates/build/
/local/templates/node_modules/
/local/templates/globals.js
/local/templates/globals.json
/local/templates/gulpfile.js