.header-top:before,
.advantages__wrapper:before,
.header-bottom .catalog__menu li a:hover:before,
.header-bottom,
.btn.b-dark:hover, .btn.b-dark:focus, .btn.b-dark:active
{
    background-color: MAIN;
}
.btn.b-dark:hover, .btn.b-dark:focus, .btn.b-dark:active
{
    border-color: MAIN;
}
.btn.b-dark:hover, .btn.b-dark:focus, .btn.b-dark:active,
.header-bottom .catalog__menu li a
{
    color:#fff;
}
