.header-bottom .catalog__menu li a:hover:before,
.header__bottom,
.btn.b-dark:hover, .btn.b-dark:focus, .btn.b-dark:active
{
    background-color: MAIN;
}
.btn.b-dark:hover, .btn.b-dark:focus, .btn.b-dark:active
{
    border-color: MAIN;
}
.btn.b-dark:hover, .btn.b-dark:focus, .btn.b-dark:active,
.header__bottom .header__list li a
{
    color:#fff;
}
.menu__dots, .menu__dots:after, .menu__dots:before {
    background-color: #fff;
}
